body {
    display:contents;
  }
html{
  background-color: #E1E1E1;
}
  header {
    height:5em;
    font-family:'Rhodium Libre';
    vertical-align:center;
    padding-left:0.5%;
    padding-top:0.5%;
    padding-bottom:0.5%;
    background:#32A74C;
    color:white;
    font-size: large;
}
.HeaderImage {
  height: 5em;
  float:left;
  vertical-align: middle;
  float:left;
}
.LogInSection{
  margin:auto;
  margin-top:5%;
  padding:2%;
  width: 35em;
  height:25em;
  background-color: white;
  margin-bottom: 25px; 
  border-radius: 10px;
  font-weight:bold;
}
input[type=submit]{
  background-color:#32A74C;
  border:none;
  border-radius:10px;
  color:white;
  padding:8px;
  width:200px;
  cursor:pointer;
}
input[type=text]{
  background-color:#F2F2F2;
  border:none;
  border-radius:5px;
  color:#7B7B7B;
  width:400px;
  padding:12px;
}